
@import "base.less";

.intro {
  padding-top: 80px;

  font-size: 72px;
  margin-bottom: 40px;

  p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
}

.social {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  font-size: 36px;
}

@media all and (max-width: @tablet-width) {
  .intro {
    font-size: 36px;
  }
}

@media all and (max-width: @mobile-width) {
  .page {
    flex-flow: column;
    padding-top: 40px;
  }

  .intro {
    font-size: 28px;
  }

  .social {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
