
body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}

.page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  background-color: black;
  color: white;
}

.intro {
  font-size: 72px;
  line-height: 22px;
}

.social {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-size: 36px;
}
