
@import "base.less";

.page {
  color: darken(white, 30%);
  margin: 60px 0;

  flex-flow: column;
  align-items: center;

  * {
    max-width: 600px;
  }
}

h1 {
  align-self: center;
}

h2 {
  margin-top: 60px;
}

p {
  line-height: 28px;
}
