<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects: Zahan Malkani</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/projects.css">
</head>
<body class="page link-reveal">
  <%=content %>
</body>
</html>
