
// Bootstrap CSS
@import "bootstrap.less";
@import "responsive.less";

/*************\
* Whole page
\*************/

html {
  height: 100%;
}

body {
  height: 100%;
  background-attachment: fixed;
  #gradient > .vertical(@white, #dfdfdf);
}

/*************\
* Section head
\*************/

@numsections: 1;

.section-head {
  background: @grayDarker;
  color: @grayLighter;
  margin-top: @navbarHeight;
/*  right: 0;
  left: 0;
  position: fixed;*/
  z-index: @zindexFixedNavbar;
  .opacity(70);
}

.section-head > * {
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
}

// Tablets & desktops
@media (min-width: 768px) {
  .section-head > *:first-child {
    margin-left: 30px;
  }
}

// Handhelds
@media (max-width: 767px) {
  .section-head > *:first-child {
    margin-left: 10px;
  }
}

/**********\
* Section
\**********/

section:first-of-type {
  margin-top: (@numsections + 1) * @navbarHeight + 10px;
}

/************\
* Thumbnails
\************/

.top-and-center {
  padding: 60px;
  margin-bottom: 30px;
  /*background-color: @grayLighter;*/
  /*.border-radius(6px);*/
}

.thumbnails {
  .center-block();

  .thumbnail {
    text-align: center;
    padding: 16px;
    padding-bottom: 10px;
    .border-radius(16px);

    p {
      font-size: 16px;
      margin: 0px;
    }

    img {
      width: 100px;
      height: 100px;
    }

  }

}

/**********\
* Footer
\**********/

footer {
  margin-bottom: 20px;
}

footer h6 {
  display: inline;
}
