
// Bootstrap CSS
@import "bootstrap.less";
@import "responsive.less";

/*************\
* Section head
\*************/

@numsections: 1;

.section-head {
  background: @grayDarker;
  color: @grayLighter;
  position: fixed;
  top: @navbarHeight;
  right: 0;
  left: 0;
  z-index: @zindexFixedNavbar;
  .opacity(70);
}

.section-head > * {
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
}

// Tablets & desktops
@media (min-width: 768px) {
  .section-head > *:first-child {
    margin-left: 30px;
  }
}

// Handhelds
@media (max-width: 767px) {
  .section-head > *:first-child {
    margin-left: 10px;
  }
}

/**********\
* Section
\**********/

section:first-of-type {
  margin-top: (@numsections + 1) * @navbarHeight + 10px;
}

.hero-unit .thumbnails {
  .center-block();
}

.hero-unit .thumbnail {
  text-align: center;
  padding: 16px;
  padding-bottom: 10px;

  p {
    font-size: 16px;
    margin: 0px;
  }

  img {
    width: 100px;
    height: 100px;
    border: 2px solid @grayLight;
    .border-radius(2px);
  }

}

/**********\
* Footer
\**********/

footer h6 {
  display: inline;
}
