
@import "variables.less";

footer h6 {
  display: inline;
}

section:first-of-type {
  padding-top: @navbarHeight;
}

section > .section-head {
  background: @gray;
  color: @grayLighter;
  height: @navbarHeight;
}

.section-head h4 {
  padding: 11px 10px 11px;
  margin: 0px;
}
