
body {
	background: #1b0c7d;
	color: #342826;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	color: black;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.secondary_info {
	display: none;
}
.expand_all {
	display: none;
	float: right;
}
.meta_section {
	margin-bottom: 10px;
	padding: 10px;
}
.meta_section:hover {
  box-shadow: 1px 1px 5px #000;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
}
.meta_section_wrap {
	background: #F9FAFC;
}
.meta_title {
	color: black;
}

#header_wrap {
	background: #F9FAFC;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
}
#header {
	padding: 10px;
}

.atom_section {
	padding-left: 20px;
	margin-bottom: 5px;
}
.time {
	color: #606060;
	margin-left: 10px;
	font-size: 0.9em;
	display: none;
}
.secondary_info {
	margin-left: 20px;
}

.github-ribbon {
  background-color:#121621;
  top:3.2em;
  right:-3.7em;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  -webkit-box-shadow:0 0 0 1px #1d212e inset,0 0 1px 1px #fff inset,0 0 1em #888;
  -moz-box-shadow:0 0 0 1px #1d212e inset,0 0 1px 1px #fff inset,0 0 1em #888;
  -ms-box-shadow:0 0 0 1px #1d212e inset,0 0 1px 1px #fff inset,0 0 1em #888;
  -o-box-shadow:0 0 0 1px #1d212e inset,0 0 1px 1px #fff inset,0 0 1em #888;
  box-shadow:0 0 0 1px #1d212e inset,0 0 1px 1px #fff inset,0 0 1em #888;
  color:rgba(255,255,255,0.90);
  display:block;
  padding:.6em 3.5em;
  position:absolute;
  font:bold .82em sans-serif;
  text-align:center;
  text-decoration:none;
  text-shadow:1px -1px 8px rgba(0,0,0,0.60);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
a.github-ribbon:hover {
  color: rgba(255, 255, 255, 0.90);
}
